* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

/* UTILITIES */

.d-flex {
    display: flex;
}

.p-relative {
    position: relative;
}

/* Header */

header {
    width: 100%;
    height: 100px;
    background-color: #080B11;

    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header a {
    height: 45px;
    text-decoration: none;
    color: #58595E;
    padding: 15px 20px;
    border: 1px solid currentColor;
    border-radius: 30px;
}

/* Contenitore per sidebar e main-information */

#main-info {
    height: calc(100vh - 100px);
}

/* Sidebar */

.sidebar {
    height: 100%;
    width: 10%;
    background: #000;
    position: absolute;
    float: left;
    top: 0;
    left: 0;
}

/* Main Informaiton per l'utente */

.main-information {
    height: 100%;
    width: 90%;
    background-color: aqua;
    position: absolute;
    float: left;
    top: 0;
    right: 0;
}

/* Footer */

footer {
    height: 100px;
    background-color: darkred;
}

