* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* UTILITIES */

.d-flex {
    display: flex;
}

.p-relative {
    position: relative;
}

.flex-col {
    flex-direction: column;
}

.hidden {
    display: none;
}

/* Sidebar */

.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    flex-shrink: 0;
}

.sidebar img {
    height: 30px;
}

.sidebar h3 {
    color: #fff;
    padding-bottom: 20px;
}

#side-buttons {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bigger-button {
    font-size: 2rem;
    padding-right: 5px;
}

.new-playlist {
    display: flex;
    align-items: center;
}

.sidebar .hidden li {
    font-size: 12px;
    color: darkgray;
}

.buttons-top {
    flex-direction: column;
}

.buttons-top img {
    padding: 5px 0;
}

.buttons-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons-bottom img {
    padding: 10px 0;
    color: darkgray
}

.all-centered {
    display: flex;
    align-items: center;
}

.all-centered span{
    font-size: 8px;
}

#smaller {
    height: 40px;
}

#background-circle {
    background-color: darkgray;
    height: 40px;
    width: 40px;
    border: 1px solid currentColor;
    border-radius: 50%;
}

/* Header */

header {
    height: 100px;
    width: calc(100% - 50px);
    background-color: rgb(0, 0, 0, 0.5);
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    /* right: 0; */
    /* z-index: 1; */
}

header a {
    color: white;
    height: 45px;
    text-decoration: none;
    padding: 15px 20px;
    border: 1px solid currentColor;
    border-radius: 30px;
}

/* Contenitore per sidebar e main-information */

#wrapper{
    height: calc(100vh - 100px);
    display: flex;
}

.main-content {
    flex-grow: 1;
    background-color: #141922; 
    padding-top: 120px;
    width: calc(100%-50px);

    overflow-y: auto;
}

/* Main Informaiton per l'utente */

#main-info ul, li {
    list-style-type: none;
    display: inline-block;
}

#main-info a {
    text-decoration: none;
    color: lightgray;
}

#main-info {
    overflow-y: auto;
}

.list-items {
    font-size: 14px; 
    padding-bottom: 30px;
    padding-left: 20px;
}

#navigation-bar li {
    padding-bottom: 30px;
    padding-right: 10px;
}

.recently-played {
    padding-left: 20px;
}

.albums-listened {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.albums-listened img {
    height: 180px;
    padding-right: 10px;
}

.albums-listened span {
    padding: 10px 0;
}

.wrapper-listened {
    padding-left: 20px;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

.subtitle {
    color: darkgray;
    font-size: 12px;
}

#wrapper-recommended {
    padding: 30px 0;
}

#artists-recommended img {
    border-radius: 50%;
}





/* Footer */

footer {
    width: 100%;
    height: 100px;
    background-color: #282828;
    display: flex;
    /* z-index: 1; */
}

footer a {
    text-decoration: none;
    color: white;
}

.player {
    justify-content: space-around;
}

.info {
    flex-direction: column;
    padding-left: 8px;
    color: white;
}

/* MENU' SINISTRA */

.left-menu {
    width: 20%;
    justify-content: space-between;
    align-items: center;
    color: darkgray;
}

.left-menu .soundtrack {
    font-size: 15px;
    font-weight: 900;
    color: white;
}
 
.left-menu i {
    padding-bottom: 9px;
}

.left-menu span {
    font-size: 10px;
    padding-bottom: 2px;
}

.player img {
    height: 30px;
}

/* MENU' CENTRALE */

.central-menu {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upper-menu {
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.central-menu .bottom-menu {
    display:flex;
    align-items: center;
}

.bottom-menu span {
    font-size: 12px;
    padding: 0 10px;
}

#bigger {
    font-size: 2rem;
}

.progression-player {
    height: 8px;
    color: white;
    width: 20px;
    border: 1px solid currentColor;
    background-color: currentColor;
}

.progression-player-full {
    height: 8px;
    color: darkgray;
    width: 100%;
    border: 1px solid currentColor;
    background-color: currentColor;
}

/* MENU' DESTRA */
.right-menu {
    width: 20%;

    justify-content: space-between;
    align-items: center;
}

.right-menu i {
    font-size: 12px;
}

.progress-Bar {
    height: 5px;
    color: white;
    width: 10px;
    border: 1px solid currentColor;
    background-color: currentColor;
    float: left;
}

.progress-Bar-Full {
    height: 5px;
    color: darkgray;
    width: 30px;
    border: 1px solid currentColor;
    background-color: currentColor;
    float: left;
}







/* QUERY - responsive */

/* Breackpoont per 767px */

@media screen and (min-width: 767px) {
    .hidden {
        display: block;
    }

    #logo-small {
        display: none;
    }

    #logo-big {
        height: 45px;
        margin-bottom: 30px;
    }

    .sidebar {
        width: 250px;
        display: flex;
        justify-content: left;
        padding-left: 15px;
    }

    .sidebar a {
        text-decoration: none;
        color: currentColor;
        text-align: center;
        display: flex;
        align-content: center;
    }

    .sidebar h3 {
        font-size: 1rem; 
        font-weight: bolder;
   }
    .sidebar ul {
        padding-top: 20px;
        list-style-type: none;
    }

    .sidebar .hidden {
        display: flex;
        flex-direction: column;
    }

    .sidebar li {
        padding-top: 10px;
    }

    .buttons-bottom {
        display: flex;
        align-self: flex-start;
    }

    header {
        width: calc(100% - 250px);
    }

    .progress-Bar {
        width: 30px;
    }

    .progress-Bar-Full {
        width: 70px;
    }

    .progression-player {
        width: 50px;
    }




    /* FINE QUERY */
}

/* Breackpoont per 991px */

@media screen and (min-width: 991px) {
    .info {
        display: inline-block;
    }

    .info i {
        padding: 0 10px;
    }
}



